<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NVars" value="5"/>
    <add key="Var0" value="clflo"/>
    <add key="Var1" value="clfmi"/>
    <add key="Var2" value="clfhi"/>
    <add key="Var3" value="pressure"/>
    <add key="Var4" value="rh"/>
    <add key="AutoclassExe" value="C:\autoclass-c-win\prog\Autoclass.exe"/>
    <add key="CtlDirectory" value="C:\file\"/>
    <add key="DB2Filename" value="C:\petroula\autoclass\petroula.db2"/>
    <add key="HD2Filename" value="C:\petroula\autoclass\petroula.hd2"/>
    <add key="ModelFilename" value="C:\petroula\autoclass\petroula.model"/>
    <add key="SParamsFilename" value="C:\petroula\autoclass\petroula.s-params"/>
    <add key="RParamsFilename" value="C:\petroula\autoclass\petroula.r-params"/>
  </appSettings>
    
</configuration>