<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NVars" value="5"/>
    <add key="CtlDirectory" value="C:\file\"/>
    <add key="DB2Filename" value="C:\petroula\autoclass\petroula.db2"/>
    <add key="HD2Filename" value="C:\petroula\autoclass\petroula.hd2"/>
    <add key="ModelFilename" value="C:\petroula\autoclass\petroula.model"/>
    <add key="SParamsFilename" value="C:\petroula\autoclass\petroula.s-params"/>
    <add key="RParamsFilename" value="C:\petroula\autoclass\petroula.r-params"/>
  </appSettings>
    
</configuration>